html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
.container {margin:0;padding:0;}
#head_wrap {width:100%;padding:0;height:58px;margin:0 auto;border-bottom:5px solid #4CAF50; background-color:#880e4f;}
#header
   {
	margin:0 auto;
	width:1000px;
	height:58px;
	}
#menu{
	line-height:60px;
	padding:0;
	margin:0;
	float:left;
	}
#menu li {
	display:inline;
	list-style:none;
	text-decoration:none;
	
	}
#user1 li {
	list-style:none;
	text-decoration:none;
	
	}
#user1  ul  img {
text-align:center;
	
	}
#menu a:hover {
	
	font-weight:bolder;
	text-decoration:none;
	background-color:#4CAF50; -moz-border-radius:4px; border-radius: 4px;
	} 
#menu li a 
{
padding:5px;
margin:5px;
text-decoration:none;
font-size:16px;
color:white;
}
#header h4{
	float:right;
	font-weight:bolder;
	line-height:60px;
	margin-right:-160px;
	}
#form1
{
float:right;
line-height:60px;
margin-right:-65px;
}
#form1 input
{
border-color:1px solid black;
border-radius:3px;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#form1 button 
{
width:80px;
border-radius:4px;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.content
{
width:1000px;
margin:0 auto;	

}
#userss{
	width:250px;
	height:600px;
	float:right;
	margin-right:-180px;
	background-color: #00897b;
	border-right:1px solid black;
	
	}
#userss h3{
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
	}
#userss h4{
	float:right;
	margin-right:80px;
	margin-top:20px;
	}
#userss img{margin-left:15px;border-radius:15px;border:2px  solid #4CAF50; text-align:center;}
#user_timeline{
	height:600px;
	margin-left:-180px;
	float:left;
	width:400px;
	background-color:#00897b;
	border-right:1px solid black;
	}
#user_details{
	padding:10px;
	margin-bottom:4px;
	margin-left:25px;
	
	}
#user_details img{margin-left:15px;border-radius:15px;border:2px  solid #4CAF50; text-align:center;
	}
#content_timeline img{
	text-align:center;
	}
#user_details p{
	padding:8px;
	margin-bottom:3px;
	color:black;
}
#user_details a{
	text-decoration:none;
}

#user_details a:hover {
	color:brown;
	font-size:16px;
	font-weight:bolder;
	text-decoration:none;
	}

#content_timeline h3{
	margin-top:20px;}
#content_timeline img{
	margin-top:20px;
	border-radius:15px;
	}
#content_timeline{
	float:right;
	width:720px;
	margin-left:-900px;
	background-color:#00897b;
	height:600px;
	}
#f input{
	border-radius:5px;
	padding:8px;
	border:1px solid black;
	font-weight:bolder;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	
	}
#f h2{
	color:black;
	margin-top:10px;
	font-size:20px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:bolder;
	
	}
#f select
{
width:200px;
padding:5px;
border-color:1px solid black;
border-radius:4px;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#f textarea{
	border-radius:5px;
	padding:8px;
	border:1px solid black;
	font-weight:bolder;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	
	}
#pagination{
	margin-top:20px;
	
	
	}
#pagination a{
	color:blue;
	text-decoration:none;
	font-size:18px;
	margin:5px;
	
}
#pagination a:hover{
	color:brown;
	font-weight:bolder;
	}
#profiled p{
	
	margin-top:5px;
	padding:4px;
	}
#profiled{
	width:600px;
	padding:15px;
	height:200px;
	margin-top:10px;
	background-color:#E0D6CB;
	line-height:20px;
	border:1px solid black;
	text-align:justify;
	border-radius:10px;
	}
#profiled img{
	float:right; 
	padding-right:10px;
	border-radius:10px;
	margin-right:8px;
	}
#posts{
	width:600px;
	padding:5px;
	background-color:#E0D6CB;
	line-height:20px;
	border:1px solid black;
	text-align:justify;
	border-radius:5px;
	}
#posts img{
	float:left;
	padding-top:5px;
	padding-right:10px;
	border-radius:5px;
	}
#posts h3{
	color:brown;
	text-decoration:none;
	font-weight:bolder;
	font-size:16px;
	}
#posts button{margin-bottom:5px;border-radius:4px;font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
background-color:white;color: black;border: 2px solid #4CAF50; }
#posts button:hover{-webkit-transition-duration: 0.4s; -transition-duration: 0.4s; background-color: #4CAF50;  border: 2px solid #4CAF50; }

#posts h3 a{
	text-decoration:none;
	}
#reply textarea{
	padding:8px;
	border:1px solid black;
	border-radius:5px;
	font-weight:bolder;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#reply input{
	padding:4px;
	margin-top:2px;
	border:1px solid black;
	border-radius:5px;
	
	}
#reply input:hover{
	background-color:green;
	}
#footer
{
width:100%;
height:40px;
padding:10px;
background-color:green;
border-top:5px solid #8B4142;
clear:both;
}
#footer h2
 {
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
text-align:center;
padding-top:3px;
color:brown;
font-size:18px;
}
#footer p 
{
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
text-align:center;
padding-top:10px;
color:brown;
}