@import url(http://fonts.googleapis.com/css?family=Raleway);

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {background-image:url(../images/background1.jpg);background-repeat:no-repeat; background-attachment:fixed;}
.container {margin:0;padding:0;}
#head_wrap {width:100%;height:100px;padding:0;margin:0 auto;border-bottom:5px  solid #4CAF50; background-color:#2F4F4F; }
#header{margin:0 auto;padding:10px;width:1200px;height:100px;}
#form1{line-height:120px;float:right;}
#form1 input{width:150px;height:25px;border-color:1px solid black;border-radius:3px;font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;}
#form1 button {width:100px;height:34px;border-radius:4px;font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;background-color:#2F4F4F;color: black;border: 2px solid #4CAF50; }

#form1 button:hover {-webkit-transition-duration: 0.4s; transition-duration: 0.4s;background-color: #4CAF50;color: white;border: 2px solid #4CAF50; }
#form2{margin-right:-300px;float:right;margin-top:10px;}
#form2 input{-moz-border-radius: 4px;border-radius: 8px;border:solid 1px gray;padding:5px;	width:240px; height: 25px;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;}
#form2 select{height:35px;width:250px;padding:5px;margin:2px;border-color:1px solid black;border-radius:5px;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;}
#form2 button
{padding:6px;width:150px;margin-left:50px;margin-top:10px;margin-bottom:10px;border-radius:4px;font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;background-color:white;color: black;border: 2px solid #4CAF50; }
#form2 button:hover {-webkit-transition-duration: 0.4s; transition-duration: 0.4s;background-color:#4CAF50; color: white;border: 2px solid #4CAF50; }
#form2 h2{color:#4CAF50;font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;}
#form2 p{font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;font-size:14px;margin-top:7px;}
#content{width:1000px;height:400px;background-repeat:no-repeat;background-size:cover;margin-bottom:90px;}
#footer{margin-top:10px;margin:0 auto;width:100%;height:60px;background-color:#2F4F4F;border-top:5px solid #4CAF50;clear:both;}
#footer h2 {font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;text-align:center;padding-top:3px;color:white;
font-size:18px;}
#footer p {font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;text-align:center;padding-top:10px;color:white;}
		
		